language: go

go:
    - 1.12.x

os:
    - linux
    - osx
    - windows

install:
    - go get -t -v ./...
    - go install ./cmd/devd

script:
    - go test -v -race ./...

notifications:
    email:
        - aldo@corte.si
